<p id="notice"><%= notice %></p>

<% cache @title_basic do %>
  <%= render "title_basic" %>
<% end %>

<%= link_to 'Edit', edit_title_basic_path(@title_basic) %> |
<%= link_to 'Back', title_basics_path %>
